<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<header th:fragment="navigation">
    <!--Start Fixed navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <a class="navbar-brand" href="#">Learn LATIN</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li th:classappend="${#httpServletRequest.getRequestURI() == '/' ? 'nav-item active':'nav-item'}">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li th:classappend="${#httpServletRequest.getRequestURI() == '/learn' ? 'nav-item active':'nav-item '}">
                    <a class="nav-link" th:href="@{/learn}">Learn</a>
                </li>
                <li th:classappend="${#httpServletRequest.getRequestURI() == '/test' ? 'nav-item active':'nav-item '}">
                    <a class="nav-link" th:href="@{/test}">Test</a>
                </li>
                <li th:classappend="${#httpServletRequest.getRequestURI() == '/score' ? 'nav-item active':'nav-item '}">
                    <a class="nav-link" th:href="@{/score}">Score</a>
                </li>
                <li th:classappend="${#httpServletRequest.getRequestURI() == '/search' ? 'nav-item active':'nav-item '}">
                    <a class="nav-link" th:href="@{/search}">Search</a>
                </li>
            </ul>
        </div>
    </nav>
    <!--End Fixed navbar -->

</header>
</body>
</html>
