<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div th:insert="navbar :: navigation"></div>
<section class="jumbotron text-center mb-0 pb-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8"><h3>SCORES</h3></div>
            <div class="col-lg-2 text-right pt-2"><span th:text="${count}"></span></div>
        </div>
    </div>
</section>
    <div class="container text-lg-center">
        <div class="score-heading">
            <span  th:text="${result}" ></span>
            <span>( Test</span> <span  th:text="${test.id}" ></span> <span>)</span>
        </div>
        <div id="details">
            <table class="table" style="align-items: center;">
                <tr th:each="knowledge : ${knowledges}">
                    <td class="big">
                        <h6 th:text="*{knowledge.word.nameNl}"></h6>
                    </td>
                    <td class="big">
                        <h6 th:text="*{knowledge.word.getAllLat()}"></h6>
                    </td>
                    <td  >
                        <h6>
                            <span th:class="${knowledge.studentInput.getFirstColumnLat().equals(knowledge.word.getFirstColumnLat())? 'text-success':'text-danger'}"
                                  th:text="*{knowledge.studentInput.getFirstColumnLat()}">
                            </span>
                            <span th:class="${knowledge.studentInput.getSecondColumnLat().equals(knowledge.word.getSecondColumnLat())? 'text-success':'text-danger'}"
                                  th:text="*{knowledge.studentInput.getSecondColumnLat()}">
                            </span>
                            <span th:class="${knowledge.studentInput.getGender().equals(knowledge.word.getGender())? 'text-success':'text-danger'}"
                                  th:text="'('+*{knowledge.studentInput.getGender()}+')'">
                            </span>
                        </h6>
                    </td>
                    <td th:class="${knowledge.ok? 'text-success':'text-danger'}">
                        <h4><i th:class="${knowledge.ok? 'fas fa-smile fa-sm':'fas fa-frown fa-sm'}"></i></h4>
                    </td>
                </tr>
            </table>


        </div>
    </div>

<script th:src="@{webjars/jquery/3.1.1/jquery.min.js}"></script>
<script th:src="@{webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
<script th:src="@{webjars/font-awesome/5.12.0/js/all.min.js}"></script>

</body>
</html>